@import url(style.css);
@import url(temas.css);

.imagemLogo{
   width: 60px;
   height: auto;
}

.imgLogin{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.conteudoPagina {
    width: 500px;
    padding: 30px;
    border-radius: 10px;

}

.botaoLogin {
    background-color: #F29500;
    
}

.botaoLogin:hover{
    background-color: #ff9d00;
}

.textoCursei{
    font-family:"Roboto", sans-serif;
    font-weight: 600;
    margin-top: 15px;
    font-size: 25px;
}

.estilizacaoInput {
    height: 50px;
}

.estilizacaoInput::placeholder {
    color: #525252;
}

.containerAnalise {    
    background-color: var(--cor-tema);
    transition: all 0.3s ease;
    height: 50vh;
}

.div-titulo{
  height: 10vh; 
  width:50vh; 
  margin-top: 20vh;
  margin-bottom: 1vh;
}

.div-titulo h1{
    color: var(--branco);
}
.div-titulo p{
    color: var(--branco);
}

.divs-conteudo{
    gap: 5vh;
    min-width:min-content;
    margin-left: -5vh; 
    

}

.divConteudoPostado{
    height: 55vh; 
    width: 100vh; 
    border-radius: 20px; 
    border: 1px solid #0000;
    box-shadow: #525252;
    border-color: #525252;
}

.divEspectadores{
    height: 55vh; 
    width: 60vh; 
    border-radius: 20px; 
    border: 1px solid #0000;
    overflow: hidden;
    box-shadow: #525252;
    border-color: #525252;

}

.select-wrapper{
    display: inline-block;
    position: relative;
    width: fit-content;
}   

.select-grafico{
    border: none;
    background-color: transparent;
    appearance: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.726);
    border-radius: 20px;
    padding:  4px 40px 4px 20px !important;
    
    padding-inline: 40px;
    background-color: var(--branco);
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    
}

.select-grafico:focus{
    outline: none;
    
}

.select-wrapper::after{
    content: url(../img/img-componentes/chevron-left.svg);
  position: absolute;
  top: 48%;
  right: 10%;
  transform: translateY(-50%) rotate(-90deg);
  pointer-events: none;
  font-size: 12px;
  transition: transform 0.3s ease-in-out;

}

.select-wrapper:has(select:focus)::after{
    transform: translateY(-50%) rotate(0deg);
}

.div-grafico{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.conteudoEspectadoresRecorrentes{
    justify-content: center;
    display: flex;
    align-items: center ;
}

.divImgEspectadores {
    width: 135px; /* Aumenta o tamanho da div */
    height: 120px; /* Torna a div quadrada */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}   
.divImgEspectadores img {
    width: 100%; /* A largura ocupará todo o espaço da div */
    height: auto; /* Ajusta a altura proporcionalmente */
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */

}
#graficoCurtidas {
    max-width: 900px; /* Largura máxima */
    max-height: 400px; /* Altura máxima */
    width: 100%; /* Responsivo */
    height: auto; /* Ajusta proporcionalmente */
}