.cont {
    width: 94%;

    margin-bottom: 2%;
    padding: 0px;
}

.tituloPag {
    font-size: 40px;
    color: var(--cinzaEscuro);
    font-weight: bold;
    margin-top: 2%;
}

.graficos-infos {
    height: 580px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;

    .esquerda {

        width: 53%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .info_cards {
            background-color: var(--branco);
            display: flex;
            border-radius: 3px;

            div {
                width: 33.33%;
                padding-block: 4%;
                padding-inline: 5%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .icone {
                    background-color: hsla(186, 95%, 37%, 0.100);
                    border-radius: 200px;
                    height: 70px;
                    width: 70px;
                    margin-top: -10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        font-size: 50px;
                        color: var(--verde);
                    }
                }

                .infos {
                    display: flex;
                    flex-direction: column;
                    margin: 0px;
                    padding: 0px;

                    width: fit-content;

                    p {
                        font-size: 18px;
                        margin: 0px;
                        padding: 0px;
                        font-weight: 600;
                        color: var(--cinzaEscuro);

                    }
                }
            }
        }

        .graficos {
            display: flex;
            width: 100%;
            justify-content: space-between;
            height: 100%;

            .grafico_pizza {
                background-color: var(--branco);

                border-radius: 5px;
                width: 48%;
                display: flex;
                flex-direction: column;
                align-items: center;

                & p {
                    font-size: 20px;
                    color: var(--cinzaEscuro);
                    font-weight: bold;
                    margin-top: 5%;
                }

                & .pizza {
                    margin-top: 2%;
                    width: 60%;
                    height: 40%;
                    display: flex;
                    justify-content: center;
                }

                & .infos {
                    margin-top: 20%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 18%;

                    & .info {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-inline: 8%;
                        width: 100%;

                        & div {
                            display: flex;
                            gap: 15px;
                            align-items: center;
                        }

                        & p {
                            font-size: 17px;
                            color: var(--verde);
                            margin: 0px;
                            text-wrap: nowrap;
                        }

                        & .bola {
                            min-width: 25px;
                            min-height: 25px;
                            background-color: rgba(57, 57, 57, 0.475);
                            display: block;
                            border-radius: 100px;
                        }

                        & .user {
                            background-color: #1E78FF;
                        }

                        & .inst {
                            background-color: #FFA617;
                        }

                        & .seg {
                            background-color: #05A4B6;
                        }

                        & .naoseg {
                            background-color: #ff005d;
                        }

                        & span {
                            font-size: 17px;
                            color: var(--cinzaClaro);
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    .direita {
        background-color: var(--branco);
        width: 45%;
        border-left: 4px var(--verde) solid;
        border-radius: 10px;
        margin: 0px;
        padding: 0px;
        padding-inline: 2%;
        height: 100%;

        p {
            font-size: 27px;
            color: var(--cinzaEscuro);
            font-weight: 700;
            margin-top: 5%;
            width: 100%;
            text-align: center;

        }

        div {

            height: 80%;

        }

    }
}

#meio {
    border-inline: 2px solid var(--verde);

}

@media (max-width:1202px) {
    .cont{
        width: 96%;
    }
    .graficos-infos {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        height: fit-content;
        .direita {
            width: 100%;
        }

        .esquerda {
           
            width: 100%;
            gap: 10px;

            .info_cards {
                background-color: white;
                display: flex;
                border-radius: 5px;
                
                div {
                    width: 33.33%;
                    padding-block: 4%;
                    padding-inline: 3%;
                    display: flex;
                    flex-direction: column;
                    
                    align-items: center;
                    
    
                    .icone {
                        background-color: hsla(186, 95%, 37%, 0.100);
                        border-radius: 200px;
                        height: 65px;
                        width: 65px;
                        margin-top: -10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
    
                        i {
                            font-size: 26px;
                            color: var(--verde);
                        }
                    }
    
                    .infos {
                        display: flex;
                        flex-direction: column;
                        margin: 0px;
                        padding: 0px;
    
                        width: fit-content;
    
                        p {
                            font-size: 18px;
                            margin: 0px;
                            padding: 0px;
                            font-weight: 600;
                            color: var(--cinzaEscuro);
    
                        }
                    }
                }
            }
            .graficos {
                height: 100%;
                .grafico_pizza {

                    & p {
                        font-size: 13px;
                        color: var(--cinzaEscuro);
                        font-weight: bold;
                        margin-top: 2%;
                    }
                    .infos{
                       gap:20px;
                       padding-bottom: 2%;
                       margin-bottom: 2%;
                        & .info {
    
                            & div {
                                gap: 8px;
                            }
    
                            & p {
                                font-size: 10px;
                            }
    
                            & .bola {
                                min-width: 15px;
                                min-height: 15px;
                               
                            }
                            span{
                                font-size: 10px;
                            }
                    }
                }
            }
        }
    }

}
}
.tituloPosts-todos{
    margin-top: 2%;
    display: flex;
    justify-content: end;
    & div{
       
        width: 72%;
        display: flex;
        justify-content: space-between;
        padding-right: 4%;
        align-items: center;
        p{
            font-size: 25px;
            color: var(--cinzaEscuro);
            font-weight: bold;
            
            margin: 0px;
        }
        a{
            font-size: 20px;
            color: var(--verde);
            text-decoration: none;
            font-weight: 500;
        }
    }
}
.tags-e-cards{
    margin-top: 0.6%;
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
}
.hashtags{
    background-color: var(--branco);
    border-left: 4px var(--verde) solid;
    width: 25%;
    border-radius: 10px;
    padding-block: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .tophash{
        text-align: center;
        font-size: 19px;
        font-weight: 600;
        color: var(--cinzaClaro);
    }
    .lista-de-hashtags{
        height: 300px;
        overflow-y: scroll;
        width: 92%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .hashtag{
        display: flex;
        justify-content: space-between;
        width: 90%;
        p{
            font-size: 20px;
            font-weight: 500;
            color: var(--cinzaEscuro);

        }
        .nomehashtag{
            max-width: 80%;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        }
        &::-webkit-scrollbar {
            width: 5px;
          }
          
          &::-webkit-scrollbar-track {
            background: #F1F1F1;
            border-radius: 20px;
          }
          
          &::-webkit-scrollbar-thumb {
            background: var(--verde);
            border-radius: 20px;
          }
          
          &::-webkit-scrollbar-thumb:hover {
            background: var(--verde);
          }
    }
}
.listarCards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;    
    
}
.infoCard {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--cinzaClaro);
    margin-top: 5%;
  }

  .infoCard span {
    display: block;

  }

/*Todos Os posts Card*/

.cardsPost {
  width: 320px;
  background: var(--branco);
  border-radius: 5px;
    padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: sans-serif;
  color: var(--preto);
}

.topoCard {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.logoInstituicao {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nomeInstituicao {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--cinzaClaro);
}

.descricaoInstituicao {
  font-size: 0.93rem;
  color: var(--cinzaEscuro);
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imagemPostagem {
width: 100%;
height: 150px;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
}

.imagemPostagem img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
@media(max-width:1479px){
    body{
    }
    .hashtags{
        width: 100%;
    .lista-de-hashtags{
        height: 300PX;

    }
    }
    .tags-e-cards{
        gap: 20px;
    }
    .listarCards{
        width: 100%;
       
    }
    .cardsPost{
        width: 100%;
    }
    .tituloPosts-todos{
    & div{
        width: 100%;
    }
    }
}