
@import url(temas.css);

:root{
   
    --branco: #ffffff;
    --cinza: #D9D9D9;
    --cinza-low: #E9E9E9;
    --preto: #000000;
    --background-preview: rgba(245, 245, 245, 0.52);
    --laranja: #cb7c00;
    --azul: #448FFF;
    --vermelho: #b92020;
    --dark: #181106;
    --roxo: #66326D;
    --azul-escuro: #0d17a3;
    --cor-tema: #000000;
    --cor-secundaria-tema: #fffafa;
    --cor-fonte-tema: #fff;
    --cor-fonte-tema-2: #000;
}









body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
}

.nav-bar{
    background-color: var(--cor-tema);
    color: var(--cor-fonte-tema);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.3s ease;
    z-index: 999;

}

.logo-nav{
    font-size: 1.2rem;
    font-weight: bold;
}

.tema-padrao {
    height: 50%;
    background-color: var(--cor-tema);
    width: 100%;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    z-index: -10;
}

.div-branca{
    height: 50%;
    width: 100%;
    background-color: var(--branco);
    position: fixed;
    bottom: 0;
    z-index: -10;
    
}



.nav-bar .links-nav a{
    text-decoration: none;
    color: var(--branco);
    font-size: 1.2rem;
    font-weight: 400;
    position: relative;
}

.nav-bar .links-nav a::before{
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--branco);
    transition: 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
}

.nav-bar a:hover::before{
    width: 100%;
}

.botao-dropdown{
    border: none;
    background-color: transparent;
}

.icone-mensagem{
    font-size: 1.7rem;
    margin-right: 10px;
}
.div-img-instituicao-perfil{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: var(--cor-secundaria-tema);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-instituicao{
    height: 94%;
    width: 94%;
    object-fit: cover;
    border-radius: 50%;
}


